<template>
  <div class="valInicial">
    <!-- Metricas de la ejecución -->
    <v-card>
      <v-row dense style="margin-top: 1px;">
        <v-col cols="6">
          <v-card class="mx-auto" color="white lighten-4" max-width="250" height="78" elevation="4">
            <v-card-title>
              <v-icon
                :color="'indigo'"
                class="mr-4"
                size="24"
                style="margin-top:-20px"
              >mdi-heart-pulse</v-icon>
              <v-row align="start" style="margin-top:-20px">
                <div style="word-break:break-word;margin-left: 40px;">
                  <strong>Validación de Pings</strong>
                </div>
              </v-row>
            </v-card-title>

            <v-sheet color="transparent" style="margin-top:-4px">
              <v-sparkline
                :smooth="8"
                :gradient="['green','lawngreen','greenyellow']"
                :line-width="7"
                :value="this.$store.state.ejecucion.valInicialAvancePing"
                stroke-linecap="round"
                height="55"
                :fill="true"
                type="trend"
                padding="1"
                labelSize="15"
              ></v-sparkline>
            </v-sheet>
          </v-card>
        </v-col>
        <v-col cols="6">
          <v-card class="mx-auto" color="white" max-width="250" height="78" elevation="4">
            <v-card-title>
              <v-icon
                :color="'indigo'"
                class="mr-4"
                size="24"
                style="margin-top:-15px"
              >mdi-ip-network</v-icon>
              <v-row align="start" style="margin-top:-17px">
                <div>
                  <strong>{{this.validandoIp}}</strong>
                </div>
              </v-row>
            </v-card-title>
            <v-sheet color="transparent" style="margin-top:-30px">
              <div id="clock" class="clock">
                <p class="time">{{ this.ipintest }}</p>
              </div>
            </v-sheet>
          </v-card>
          <!-- <sparkline titulo="Ip en Test" style="margin-top:0px;height:65px"></sparkline> -->
        </v-col>
        <v-progress-linear
          color="blue accent-4"
          :indeterminate="this.$store.state.ejecucion.isRunningValPing"
          height="3"
          style="width:99.4%;margin-left:4px"
        ></v-progress-linear>

        <v-progress-linear
          v-model="indicadorGeneralValPing"
          height="18"
          reactive
          style="z-index: 1;background-color: floralwhite;width:99.4%;margin-left:4px"
        >
          <strong>{{ this.getMetricaGeneral }}%</strong>
        </v-progress-linear>
      </v-row>
      <v-divider></v-divider>
      <v-card-text>
        <v-layout column style="height: 50vh">
          <v-flex style="overflow: auto">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <!-- <th class="text-center">Model Name</th> -->
                    <th class="text-center">Ip Address</th>
                    <th class="text-center">Test Result</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item , index) in address"
                    :key="`${index}-${item.equipo}`"
                    :class="`form-${index}`"
                  >
                    <!-- <td>{{ item.equipo }}</td> -->
                    <td>{{ item.ip }}</td>
                    <td>
                      <v-icon v-if="item.anillo == 'OK'" large color="green darken-2">mdi-check</v-icon>
                      <v-icon
                        v-else-if="item.anillo == 'FAIL'"
                        large
                        color="red darken-2"
                      >mdi-close</v-icon>
                      <v-btn
                        v-else-if="item.anillo == 'loading'"
                        :loading="true"
                        color="whithe"
                        class="ma-1 black--text"
                        icon
                      />
                      <v-icon v-else large></v-icon>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-flex>
        </v-layout>
      </v-card-text>

      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="this.$store.state.ejecucion.isRunningValPing"
          color="blue darken-1"
          text
          right
          @click="cerrarValInicial"
        >Cerrar</v-btn>
      </v-card-actions>
    </v-card>

    <!-- dialogo final -->
    <v-dialog v-model="resumen" persistent max-width="550px">
      <v-card class="mx-auto" v-bind:style="{height: tamanioModal,overflow: 'hidden' }">
        <v-list-item>
          <v-avatar color="green">
            <v-icon dark>mdi-flag-checkered</v-icon>
          </v-avatar>
          <v-list-item-content style="margin-left:20px">
            <v-list-item-title class="headline">Prueba de redundancia</v-list-item-title>
            <v-list-item-subtitle>Estatus: Exitosa</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-btn
          text
          color="indigo"
          style="position:absolute;margin-top: -59px;margin-left: 426px;"
          @click="cambiarVentana"
        >{{estadoVentana}}</v-btn>

        <v-img :src=getBackground height="184"></v-img>
        <span
          style="position: absolute;margin-top: -170px;margin-left: 25px;font-weight: bold;"
        >Anillo: {{getNombreAnillo}}</span>
        <span
          style="position: absolute;margin-top: -150px;margin-left: 25px;font-weight: bold;color: crimson;"
        >Ejecutó: {{this.$store.state.sesion.usuario}}</span>
        <span style="position: absolute;margin-top: -130px;margin-left: 25px;font-weight: bold;"></span>
        <span
          style="position: absolute;margin-top: -100px;margin-left: 25px;font-weight: bold;"
        >Fecha inicio: {{this.$store.state.ejecucion.fechaInicio}}</span>
        <span
          style="position: absolute;margin-top: -80px;margin-left: 25px;font-weight: bold;"
        >Fecha fin: {{this.$store.state.ejecucion.fechaFin}}</span>
        <span
          style="position: absolute;margin-top: -60px;margin-left: 25px;font-weight: bold;color: crimson;"
        >Tiempo total: {{this.$store.state.ejecucion.time}}</span>

        <v-card-text>
          Los resultados de la prueba los puede revisar en la sección Historial de evidencias.

        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn text color="indigo" @click="irHome">Inicio</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" :color="colorSnack">
      {{ msgSanck }}
      <v-btn text @click="snackbar = false">Cerrar</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import operations from "../operations";
import router from "../router/index";
import servidor from '../config';

export default {
  name: "Ejecucion",
  components: {},
  data() {
    return {
      resumen: false,
      tamanioModal: "400px",
      estadoVentana: "Minimizar",
      msgSanck: "",
      colorSnack: "red",
      snackbar: false,
      valInicialAvancePing: [],
      // colorSnack : "green",
      // msgSanck : "Inicia validación de Ping",
      //Paul
      isRunningValPing: true,
      headers: [
        {
          text: "Model Name",
          sortable: false,
          value: "equipo"
        },
        { text: "Network Address", sortable: false, value: "ip" },
        { text: "Ping Result", sortable: false, value: "anillo" }
      ]
    };
  },
  props: {
    address: {
      type: Array,
      default() {
        return [];
      }
    },
    ipintest: {
      type: String,
      default() {
        return "";
      }
    },
    validandoIp:{
      type: String,
      default() {
        return "";
      }
    },
    indicadorGeneralValPing: {
      type: Number,
      default() {
        return 0;
      }
    },
    valInicialAvancePings: {
      type: Array,
      default() {
        return [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      }
    },
    scrollElement: {
      type: String,
      default() {
        return "";
      }
    }
  },
  methods: {
    cambiarVentana() {
      if (this.tamanioModal == "400px") {
        this.tamanioModal = "67px";
        this.estadoVentana = "Restaurar";
      } else {
        this.tamanioModal = "400px";
        this.estadoVentana = "Minimizar";
      }
    },
    cerrarValInicial() {
      this.$store.state.formValPingsx = false;
     // this.$emit('resumen', true);
     this.$store.state.pingLanWanTemplate="";
      this.resumen = true;
    },
    incrementoProporcional() {
      this.$store.state.ejecucion.indicadorGeneral += this.$store.state.ejecucion.incrementoIndicadorGeneral;
      if (this.$store.state.ejecucion.indicadorGeneral > 100)
        this.$store.state.ejecucion.indicadorGeneral = 100;
    },
    incrementoDecimal() {
      this.$store.state.ejecucion.indicadorGeneral += 0.02;
      if (this.$store.state.ejecucion.indicadorGeneral > 100)
        this.$store.state.ejecucion.indicadorGeneral = 100;
    },
    setAvance(avance) {
      this.$store.state.ejecucion.valInicialAvance = avance;
    },
   async irHome() {
      this.$store.state.ejecucion.isRunning = false;
      this.$store.state.ejecucion.estaSeguro = false;
      this.resumen = false;
      this.$store.state.ejecucion.fechaFin = "";
      this.$store.state.ejecucion.stepProceso = -1;
      //reset status to validated
      try {
        const response = await operations.cambiaEstatusAnillo({
          idAnillo: this.$store.state.anillos[
            this.$store.state.anilloSeleccionado
          ].id,
          estatus: 1
        });

        if (response.status == "200") {
          if (response.data.status == "C") {
            this.$store.state.ejecucion.time = "00:00:00";
            //console.log("desbloqueo del anillo...");
            //this.desbloqueaAnillo();
            //router.push('/');
            // return;
          } else {
            this.snackbar = true;
            this.msgSanck = response.data;
            // this.bitacora(this.msgSanck);
            this.colorSnack = "red";
          }
        }
      } catch (error) {
        console.log(error);
        this.overlay = false;
        this.snackbar = true;
        this.msgSanck = "Error al cambiar el estatus:" + error.response.data;
        // this.bitacora(this.msgSanck);
        this.colorSnack = "red";
        this.$store.state.ejecucion.time = "00:00:00";
        router.push("/");
        return;
      }

      this.$store.state.ejecucion.time = "00:00:00";
      router.push("/");
     },
    clearPopups() {
      this.$store.state.ejecucion.estaSeguro = false;
      this.bloqueado = false;
      this.detenido = false;
      this.resumen = false;
    },
    defineIncrementosMetricaGeneral() {
      console.log("Cargando indicador general");
    }
  },
  computed: {
     getBackground(){
        return "/bg08.png";
      },
    getMetricaGeneral() {
      return parseFloat(this.indicadorGeneralValPing).toFixed(2);
    },
    logsx() {
      return this.$store.getters.logs;
    },
    getNombreAnillo() {
      try {
        this.anilloSel = this.$store.state.anillos[
          this.$store.state.anilloSeleccionado
        ];
        return this.anilloSel.anillo;
      } catch (error) {
        return "";
      }
    }
  },
  watch: {
    indicadorGeneralValPing: function() {
      //console.log("form-" + this.scrollElement);
      var elemento = this.$el.getElementsByClassName(
        "form-" + this.scrollElement
      )[0];
      if (elemento) {
        //console.log("EN EL SCROLL");
        elemento.scrollIntoView({ behavior: "smooth" });
      }
    }
  }
};
</script>

<style scoped>
.clock {
  font-family: "Share Tech Mono", monospace;
  color: red !important;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
p {
  margin: 0;
  padding: 0;
}

.time {
  letter-spacing: 0.05em;
  font-size: 25px;
  padding: 2px 0;
  margin-top: 25px;
  font-weight: bold;
}
.date {
  letter-spacing: 0.1em;
  font-size: 24px;
}
.text {
  letter-spacing: 0.1em;
  font-size: 8px;
  padding: 20px 0 0;
}
.seleccionado {
  border-color: red;
  border-width: 4px;
  border-style: double !important;
}
</style>