<template>
  <div class="Parametros">
    <v-card>
      <!-- titulo -->
      <v-row class="mx-auto text-center">
        <v-col cols="12" md="11" class="mt-0 mb-n4 pb-n2 pl-6">
          <!-- newLine: se agrega "Configuración de -->
          <h1>Configuración de Parámetros del sistema</h1>
        </v-col>
      </v-row>
      <!-- grid de parametros -->
      <v-row class="mx-auto text-center">
        <v-col cols="12" md="12">
          <template>
            <v-card>
              <v-card-title>
                <v-row style="margin-top: -22px !important">
                  <v-col cols="10">
                    <v-text-field
                      style="margin-top: 22px !important"
                      v-model="search"                    
                      append-icon="mdi-magnify"
                      label="Buscar parámetros"
                      solo
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <v-btn
                      dark
                      small
                      color="primary"
                      @click="dialogParametro = true"
                      style="
                        width: 142px;
                        height: 32px;
                        margin-top: 22px !important;
                        margin-right: 12px !important;
                        margin-right: 10px;
                      "
                    >
                      <v-icon left>mdi-sticker-plus</v-icon>Agregar
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-title>

              <v-data-table
                dense
                :headers="headers"
                :items="getParametros"
                :items-per-page="10"
                :search="search"
                :hide-default-header="hideHeader"
                :footer-props="{
                  showFirstLastPage: true,
                  'items-per-page-text': 'filas por página',
                }"
              >
                <template v-slot:header="{ props: { headers } }">
                  <thead
                    style="
                      background-color: #1976d2 !important;
                      border-color: #1976d2 !important;
                      color: white;
                      font-size: 15px !important;
                      font-weight: bolder;
                    "
                  >
                    <tr>
                      <td align="left">CLAVE</td>
                      <td align="left">PROCESO</td>
                      <td align="left">DESCRIPCIÓN</td>
                      <!-- newLine: se agrega "CONFIGURAR" -->
                      <td align="left">CONFIGURAR VALOR</td>
                      <td align="left"></td>
                      <td align="left"></td>
                    </tr>
                  </thead>
                </template>

                <template v-slot:item.Acciones="{ item }">
                  <v-icon
                    @click="ocultaValor(item)"
                    >mdi-eye-off
                  </v-icon>
                  <v-icon class="mr-2" @click="editPAR(item)"
                    align="center"
                    >mdi-file-document-edit-outline
                  </v-icon>                

                  <!--
                  <v-icon
                    background-color="error"
                    color="red"
                    @click="deleteItemUSR(item)"
                    >mdi-delete-forever</v-icon
                  >-->
                </template>
                <template v-slot:no-data> </template>
                <template v-slot:footer.page-text="items">
                  {{ items.pageStart }} - {{ items.pageStop }} de
                  {{ items.itemsLength }}
                </template>
              </v-data-table>
            </v-card>
          </template>
        </v-col>
      </v-row>

      <!-- nuevo parametro dialogParametro -->
      <v-dialog v-model="dialogParametro" persistent max-width="400px" dense>
        <v-card>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-card-title class="text-center" blue lighten-5>
              <span class="headline">Nuevo parámetro</span>
            </v-card-title>

            <v-card-text class="mt-3" >
              <v-container>
                <v-row>
                  <v-col cols="12" md="12" class="mt-n9">
                    <v-text-field   style="margin-top:10px"                 
                      label="Clave"                      
                      outlined
                      dense
                      v-model="editedItemPAR.clave"
                      :rules="ruleMascara1"
                      required
                      maxlengt="30"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="12" class="mt-n9">
                    <v-text-field style="margin-top:10px" 
                      label="Proceso"
                      outlined
                      dense
                      v-model="editedItemPAR.proceso"
                      :rules="ruleMascara3"
                      required
                      maxlengt="200"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="12" class="mt-n9">
                    <v-text-field style="margin-top:14px" 
                      label="Descripción"
                      outlined
                      dense
                      v-model="editedItemPAR.descripcion"
                      :rules="ruleMascara3"
                      required
                      maxlengt="200"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="12" class="mt-n8 mb-n6">
                    <v-text-field style="margin-top:10px" 
                      label="Valor"
                      outlined
                      dense
                      v-model="editedItemPAR.valor"
                      :rules="ruleMascara2"
                      required
                      maxlengt="100"
                    ></v-text-field>
                  </v-col>

                  <!-- <v-col cols="12"  md="12" class="mt-n10">
                                        <v-checkbox v-model="absolute" label="Activo"></v-checkbox>
                                    </v-col> -->
                  <!-- <v-col cols="12" sm="6" md="12">
                                        <v-text-field v-model="usrContent.usrArea" label="Área"></v-text-field>
                                    </v-col> -->
                </v-row>
              </v-container>
            </v-card-text>
            <br />
            <v-card-actions class="mt-n12">
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closePAR">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="savePAR">Guardar</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>

      <!-- editar parametro dialogParametro -->
      <v-dialog v-model="dialogEditParametro" persistent max-width="400px" dense>
        <v-card>
          <v-form ref="formE" v-model="valid" lazy-validation>
            <v-card-title class="text-center" blue lighten-5>
              <span class="headline">Editar parámetro</span
              >
            </v-card-title>

            <v-card-text class="mt-3">
              <v-container>
                <v-row>
                  <v-col cols="12" md="12" class="mt-n5">                    
                    <v-text-field 
                      readonly="readonly"
                      label="Clave"


                      outlined
                      dense
                      v-model="editedItemPAR.clave"
                      :rules="ruleMascara1"
                      required
                    ></v-text-field>
                    
                  </v-col>                  
                  <v-col cols="12" md="12" class="mt-n6">                    
                    <v-text-field                    
                      label="Proceso"
                      outlined
                      dense
                      v-model="editedItemPAR.proceso"
                      :rules="ruleMascara3"
                      required
                    ></v-text-field>
                    
                  </v-col>
                  <v-col cols="12" md="12" class="mt-n6">
                    <v-text-field 
                      label="Descripción"
                      dense
                      outlined
                      v-model="editedItemPAR.descripcion"
                      :rules="ruleMascara3"
                      required
                    ></v-text-field>
                    
                  </v-col>
                  <v-col cols="12" md="12" class="mt-n6">
                    <v-text-field 
                      label="Valor"
                      outlined
                      dense
                      v-model="editedItemPAR.valor"
                      :rules="ruleMascara2"
                      required
                    ></v-text-field>
                    
                  </v-col>

                  <!-- <v-col cols="12"  md="12" class="mt-n10">
                                        <v-checkbox v-model="absolute" label="Activo"></v-checkbox>
                                    </v-col> -->
                  <!-- <v-col cols="12" sm="6" md="12">
                                        <v-text-field v-model="usrContent.usrArea" label="Área"></v-text-field>
                                    </v-col> -->
                </v-row>
              </v-container>
            </v-card-text>
            <br />
            <v-card-actions class="mt-n12">
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closePAR">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="editPAR2">Guardar</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
      
      <v-snackbar
        v-model="snackbar"
        :color="colorSnackbar"
        multi-line="multi-line"
        :timeout="timeout"
        vertical="vertical"
      >
        {{ msgAlert }}
        <v-btn dark text @click="snackbar = false"> Cerrar </v-btn>
      </v-snackbar>
      <v-overlay :value="overlay">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-card>
  </div>
</template>

<script>
import operations from "../operations";

export default {
  name: "Parametros",
  data: () => ({
    hideHeader: true,
    overlay: false,
    snackbar: false,
    msgAlert: "",
    nuevoParametro: true,
    absolute: false,
    dialogParametro: false,
    dialogEditParametro: false,
    colorSnackbar: "",
    timeout: 6000,
    //agregaUSR: false,
    item: null,
    inset: false,
    itmRoles: [],
    search: "",
    headers: [
      { text: "CLAVE", align: "left", value: "clave" },
      { text: "PROCESO", align: "left", value: "proceso" },
      { text: "DESCRIPCIÓN", align: "left", value: "descripcion" },
      //newLine
      { text: "CONFIGURAR VALOR", align: "left", value: "valorMostrar" },      
      { text: "", value: "Acciones", sortable: false, filterable: false, align: "center" },
    ],
    parametros: [],
    valorOculto: "***********",
    editedItemPAR: {
      clave: "",
      proceso: "",
      descripcion: "",
      valor: "",
      valorMostrar: "",
      ocultar: false,
      //valorOculto: "********",
    },
    //editedIndexUSR: -1,
    editedIndexPAR: -1,
    ruleMascara1: [
      (r) => !!r || "El campo es requerido",
      (r) =>
        (r && r.length > 0 && r.length <= 30) ||
        "La Longitud del campo es  entre 1 y 30 carácteres",
    ],
    ruleMascara2: [
      (r) => !!r || "El campo es requerido",
      (r) =>
        (r && r.length > 0 && r.length <= 100) ||
        "La Longitud del campo es  entre 1 y 100 carácteres",      
    ],
    ruleMascara3: [
      (r) => !!r || "El campo es requerido",
      (r) =>
        (r && r.length > 0 && r.length <= 200) ||
        "La Longitud del campo es  entre 1 y 200 carácteres",      
    ],
  }),
  created() {
    // this.roles();
    //this.usersByRole();
    this.cargaParametros();
    this.bitacora("Ingresando a configuración de parametros");
  },
  computed: {
    getParametros() {
      //   var usuariosFiltados= this.usuarios.filter(
      //       rol != "Sin rol asignado"
      //   );
      /*for (var r = 0; r < this.parametros.length; r++) {
        this.parametros[r].ocultar = false;
        this.parametros[r].valorMostrar = this.parametros[r].valor;          
        }*/
      for (var r = 0; r < this.parametros.length; r++) {
        this.parametros[r].ocultar = true;
        this.parametros[r].valorMostrar = this.valorOculto;          
      }
      /*
      var parametrosFiltados = this.parametros.filter(function (el) {
        //return (el.rol != "Sin rol asignado" || el.rol != 'El usuario no tiene role asignado');
        return el.rol != "El usuario no tiene role asignado";
      });
      return parametrosFiltados;
      */

      return this.parametros;
    },
  },
  methods: {
    soloLetrasNumeros: function (tecla) {
      //enablecontroles("#txtNomSolicitantenew");
      var texto = tecla.key;
      var reg = /^[A-Za-z0-9\s]+$/g;
      if (reg.test(texto)) {
        return true;
      } else {
        tecla.preventDefault();
        return false;
      }
    },
    async roles() {
      try {
        const response = await operations.roles({ aux: "" });

        if (response.status == "200") {
          this.itmRoles = [];
          this.itmRoles = response.data.catalog;
        }
        if (response.status == "204") {
          console.log("204");
        } else {
        }
      } catch (error) {
        console.log(error);
      }
    },
    getParametrosAux() {
      //   var usuariosFiltados= this.usuarios.filter(
      //       rol != "Sin rol asignado"
      //   );
      /*for (var r = 0; r < this.parametros.length; r++) {
        this.parametros[r].ocultar = false;
        this.parametros[r].valorMostrar = this.parametros[r].valor;          
        }*/
      for (var r = 0; r < this.parametros.length; r++) {
        this.parametros[r].ocultar = true;
        this.parametros[r].valorMostrar = this.valorOculto;          
      }
      /*
      var parametrosFiltados = this.parametros.filter(function (el) {
        //return (el.rol != "Sin rol asignado" || el.rol != 'El usuario no tiene role asignado');
        return el.rol != "El usuario no tiene role asignado";
      });
      return parametrosFiltados;
      */

      return this.parametros;
    },
    async cargaParametros() {
      try {
        console.log("Cargando Parametros");
        const response = await operations.parametros({ aux: "" });
        if (response.status == "200") {
          this.parametros = [];
          this.parametros = response.data.parametros;          
          console.log(this.parametros);
        }
        if (response.status == "204") {
          console.log("204");
        } else {
        }
      } catch (error) {
        console.log(error);
      }
    },
    async assignPar(clave, proceso, descripcion, valor) {
      try {
        this.overlay = true;
        var newPar = {
          clave: this.editedItemPAR.clave,
          proceso: this.editedItemPAR.proceso,
          descripcion: this.editedItemPAR.descripcion,
          valor: this.editedItemPAR.valor,
        };
        const response = await operations.assignPar({
          clave: clave,
          proceso: proceso,
          descripcion: descripcion,
          valor: valor,
          usuario: this.$store.state.sesion.usuario
        });
        if (response.status == "200") {
          /*if (this.editedIndexPAR > -1) {
            Object.assign(this.parametros[this.editedIndexPAR], newPar);
          } else {
            this.parametros.push(newPar);
          }*/
          this.bitacora("Configurando Parametro");
          this.overlay = false;
          this.snackbar = true;
          this.msgAlert = response.data.response;
          this.colorSnackbar = "green";

          //recargar
          this.cargaParametros();
          this.getParametrosAux();
        }
        if (response.status == "204") {
          console.log("204");
        } else {
        }
      } catch (error) {
        console.log(error);
        this.bitacora(
          "Error al momento de guardar el Parametro " + error
        );
        this.overlay = false;
        this.snackbar = true;
        this.msgAlert = "Error: " + error;
        this.colorSnackbar = "red";
      }
    },
  
    closePAR() {
      this.ruleMascara1 = [];
      this.ruleMascara2 = [];
      this.dialogParametro = false;
      this.dialogEditParametro = false;
      this.nuevoParametro = true;
      setTimeout(() => {
        this.editedItemPAR = Object.assign({}, this.defaultItemPAR);
        //this.editedIndexUSR = -1
        this.editedIndexPAR = -1
        this.ruleMascara1 = [
          (r) => !!r || "El campo es requerido",
          /*(r) =>
            (r && r.length > 0 && r.length <= 50) ||
            "La Longitud del campo es  entre 1 y 50 carácteres",*/
        ];

        ///^[A-Za-z0-9_ -\s]+$/g.test(r)
      

         this.ruleMascara2= [
            (r) => !!r || "El campo es requerido",
            (r) =>
                (r && r.length > 0 && r.length <= 100) ||
                "La Longitud del campo es  entre 1 y 100 carácteres",      
            ];


        this.$refs.form.resetValidation();
        
      }, 300);
    },
    async bitacora(evento) {
      try {
        const response = await operations.userLog({
          funcionality: evento,
          username: this.$store.state.sesion.usuario,
        });

        if (response.status == "200") {
          if (response.data.status == "C") {
            console.log("registrado en bitacora ok");
          } else {
            /* this.snackbar = true;
                        this.msgSanck=response.data;
                        this.colorSnack='red';*/
          }
        }
      } catch (error) {
        /* this.overlay = false;
                    this.snackbar = true;
                    this.msgSanck="Error al registrar en bitacora:" + error.response.data;
                    this.colorSnack='red';*/
        return;
      }
    },
    savePAR() {

      if (this.$refs.form.validate()) {                  
        console.log(this.editedItemPAR);
        var msg = "";

        /*this.editedItemPAR.clave == undefined ? this.editedItemPAR.clave = "" : this.editedItemPAR.clave = this.editedItemPAR.clave;
        this.editedItemPAR.proceso == undefined ? this.editedItemPAR.proceso = "" : this.editedItemPAR.proceso = this.editedItemPAR.proceso;
        this.editedItemPAR.descripcion == undefined ? this.editedItemPAR.descripcion = "" : this.editedItemPAR.descripcion = this.editedItemPAR.descripcion;
        this.editedItemPAR.valor == undefined ? this.editedItemPAR.valor = "" : this.editedItemPAR.valor = this.editedItemPAR.valor;*/

        var camposRequeridos = this.editedItemPAR.clave.trim() == "" || this.editedItemPAR.proceso.trim() == "" ||
                               this.editedItemPAR.descripcion.trim() == "" || this.editedItemPAR.valor.trim() == "";

        var camposConLongitud = this.editedItemPAR.clave.trim().length > 30 || this.editedItemPAR.valor.trim().length > 100 ||                      this.editedItemPAR.descripcion.trim().length > 200 ||
                                this.editedItemPAR.proceso.trim().length > 200;

        if(camposRequeridos && !camposConLongitud){
          msg = "Todos los campos son requeridos"
        } else if(!camposRequeridos && camposConLongitud){
          msg = "La longitud de alguno de los campos fue sobrepasada"
        }else if (camposRequeridos && camposConLongitud) {
          msg = "Todos los campos son requeridos y la longitud de alguno de los campos fué sobrepasada";
        }

        var claveEncontrada = this.parametros.map(it => it.clave).filter(it => this.editedItemPAR.clave.trim().toUpperCase() == it.toUpperCase());
          console.log(claveEncontrada);

        if(claveEncontrada.length == 0){
          if(!camposConLongitud && !camposRequeridos){
            this.assignPar(
            this.editedItemPAR.clave.trim(),
            this.editedItemPAR.proceso.trim(),
            this.editedItemPAR.descripcion.trim(),
            this.editedItemPAR.valor.trim()
            );
            this.closePAR();
        
          } else {
            this.overlay = false;
            this.snackbar = true;
            this.msgAlert = msg;
            this.colorSnackbar = "red";
          }
        } else {
          this.overlay = false;
          this.snackbar = true;
          this.msgAlert = "El registro ya existe en base de datos";
          this.colorSnackbar = "red";
        }
      } else {
        console.log("campos no validados");
        console.log(this.editedItemPAR);
        var msg = "";

        this.editedItemPAR.clave == undefined ? this.editedItemPAR.clave = "" : this.editedItemPAR.clave = this.editedItemPAR.clave;
        this.editedItemPAR.proceso == undefined ? this.editedItemPAR.proceso = "" : this.editedItemPAR.proceso = this.editedItemPAR.proceso;
        this.editedItemPAR.descripcion == undefined ? this.editedItemPAR.descripcion = "" : this.editedItemPAR.descripcion = this.editedItemPAR.descripcion;
        this.editedItemPAR.valor == undefined ? this.editedItemPAR.valor = "" : this.editedItemPAR.valor = this.editedItemPAR.valor;

        var camposRequeridos = this.editedItemPAR.clave.trim() == "" || this.editedItemPAR.proceso.trim() == "" ||
                               this.editedItemPAR.descripcion.trim() == "" || this.editedItemPAR.valor.trim() == "";

        var camposConLongitud = this.editedItemPAR.clave.trim().length > 30 || this.editedItemPAR.valor.trim().length > 100 ||                      this.editedItemPAR.descripcion.trim().length > 200 ||
                                this.editedItemPAR.proceso.trim().length > 200;

        if(camposRequeridos && !camposConLongitud){
          msg = "Todos los campos son requeridos"
        } else if(!camposRequeridos && camposConLongitud){
          msg = "La longitud de alguno de los campos fue sobrepasada"
        }else if (camposRequeridos && camposConLongitud) {
          msg = "Todos los campos son requeridos y la longitud de alguno de los campos fué sobrepasada";
        }

        if(msg != ""){
          this.overlay = false;
          this.snackbar = true;
          this.msgAlert = msg;
          this.colorSnackbar = "red";
        }
      }
    },
    editPAR2() {

      if (this.$refs.formE.validate()) {                  
        console.log(this.editedItemPAR);
        var msg = "";

        /*this.editedItemPAR.clave == undefined ? this.editedItemPAR.clave = "" : this.editedItemPAR.clave = this.editedItemPAR.clave;
        this.editedItemPAR.proceso == undefined ? this.editedItemPAR.proceso = "" : this.editedItemPAR.proceso = this.editedItemPAR.proceso;
        this.editedItemPAR.descripcion == undefined ? this.editedItemPAR.descripcion = "" : this.editedItemPAR.descripcion = this.editedItemPAR.descripcion;
        this.editedItemPAR.valor == undefined ? this.editedItemPAR.valor = "" : this.editedItemPAR.valor = this.editedItemPAR.valor;*/

        var camposRequeridos = this.editedItemPAR.clave.trim() == "" || this.editedItemPAR.proceso.trim() == "" ||
                               this.editedItemPAR.descripcion.trim() == "" || this.editedItemPAR.valor.trim() == "";

        var camposConLongitud = this.editedItemPAR.clave.trim().length > 30 || this.editedItemPAR.valor.trim().length > 100 ||                      this.editedItemPAR.descripcion.trim().length > 200 ||
                                this.editedItemPAR.proceso.trim().length > 200;

        if(camposRequeridos && !camposConLongitud){
          msg = "Todos los campos son requeridos"
        } else if(!camposRequeridos && camposConLongitud){
          msg = "La longitud de alguno de los campos fue sobrepasada"
        }else if (camposRequeridos && camposConLongitud) {
          msg = "Todos los campos son requeridos y la longitud de alguno de los campos fué sobrepasada";
        }

        if(!camposConLongitud && !camposRequeridos){
          this.assignPar(
          this.editedItemPAR.clave.trim(),
          this.editedItemPAR.proceso.trim(),
          this.editedItemPAR.descripcion.trim(),
          this.editedItemPAR.valor.trim()
          );
          this.closePAR();
        } else {
            this.overlay = false;
            this.snackbar = true;
            this.msgAlert = msg;
            this.colorSnackbar = "red";
        }
      } else {
        console.log("campos no validados");
        console.log(this.editedItemPAR);
        var msg = "";

        /*this.editedItemPAR.clave == undefined ? this.editedItemPAR.clave = "" : this.editedItemPAR.clave = this.editedItemPAR.clave;
        this.editedItemPAR.proceso == undefined ? this.editedItemPAR.proceso = "" : this.editedItemPAR.proceso = this.editedItemPAR.proceso;
        this.editedItemPAR.descripcion == undefined ? this.editedItemPAR.descripcion = "" : this.editedItemPAR.descripcion = this.editedItemPAR.descripcion;
        this.editedItemPAR.valor == undefined ? this.editedItemPAR.valor = "" : this.editedItemPAR.valor = this.editedItemPAR.valor;*/

        var camposRequeridos = this.editedItemPAR.clave.trim() == "" || this.editedItemPAR.proceso.trim() == "" ||
                               this.editedItemPAR.descripcion.trim() == "" || this.editedItemPAR.valor.trim() == "";

        var camposConLongitud = this.editedItemPAR.clave.trim().length > 30 || this.editedItemPAR.valor.trim().length > 100 ||                      this.editedItemPAR.descripcion.trim().length > 200 ||
                                this.editedItemPAR.proceso.trim().length > 200;

        if(camposRequeridos && !camposConLongitud){
          msg = "Todos los campos son requeridos"
        } else if(!camposRequeridos && camposConLongitud){
          msg = "La longitud de alguno de los campos fue sobrepasada"
        }else if (camposRequeridos && camposConLongitud) {
          msg = "Todos los campos son requeridos y la longitud de alguno de los campos fué sobrepasada";
        }

        if(msg != ""){
          this.overlay = false;
          this.snackbar = true;
          this.msgAlert = msg;
          this.colorSnackbar = "red";
        }
      }
    },
    ocultaValor(item){
      /*console.log(item.valor);
      console.log(item.ocultar);
      if(!item.ocultar){        
        item.valorMostrar = "********";
        console.log(item.valorMostrar);
        item.ocultar = true;
        this.$forceUpdate();
      }else{
        item.valorMostrar = item.valor;
        console.log(item.valorMostrar);
        item.ocultar = false;
        this.$forceUpdate();
      }*/
      console.log(item.ocultar);
      if(item.ocultar){        
        item.valorMostrar = item.valor;
        console.log(item.valorMostrar);
        item.ocultar = false;
        this.$forceUpdate();
      }else{
        item.valorMostrar = this.valorOculto;
        console.log(item.valorMostrar);
        item.ocultar = true;
        this.$forceUpdate();
      }        
    },
    editPAR(item) {
      this.nuevoParametro = false;
      this.editedIndexPAR = this.parametros.indexOf(item);
      /*
      for (var r = 0; r < this.parametros.length; r++) {
        if (this.parametros[r].id == item.rol) {
          this.editedItemPAR.clave = this.itmRoles[r];
        }
      }*/
      this.editedItemPAR.clave = item.clave.trim();
      this.editedItemPAR.proceso = item.proceso.trim();
      this.editedItemPAR.descripcion = item.descripcion.trim();
      this.editedItemPAR.valor = item.valor.trim();
      //console.log(this.editedItemPAR.clave = item.clave.trim());
      console.log(this.$store.state.sesion.role);

      //this.dialogParametro = true;
      this.dialogEditParametro = true;
    },
   
  },

  watch: {
    dialogParametro(val) {
      val || this.closePAR();
    },
  },
};
</script>
<style>
.v-input--selection-controls .v-input__slot > .v-label,
.v-input--selection-controls .v-radio > .v-label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: auto;
  font-size: 12px;
}
.v-text-field.v-text-field--solo .v-label {
  top: calc(50% - 10px);
  font-size: 12px;
}
.v-dialog > .v-card > .v-card__title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  padding: 16px 24px 10px;
  display: flow-root;
  background-color: #1976d2 !important;
  color: white;
}

div.v-messages__message {
  font-size: 9px !important;
  margin-top: 2px;
}
</style>