<template>
<div class="Roles">
    <v-card >
         <!-- titulo -->
         <v-row class="mx-auto text-center">
                <v-col cols="12" md="11" class="mt-0 mb-n4 pb-n2 pl-6">
                    <h1>Gestión de roles</h1>
                </v-col>
         </v-row>
         <!-- grid de roles -->
         <v-row class="mx-auto text-center" >
             <v-col cols="12" md="12">  
                <template>
                    <v-card >
                        <v-card-title >
                                <v-row style="margin-top: -22px!important">
                                    <v-col cols="10" >
                                       <v-text-field style="margin-top:22px!important" v-model="search" @keypress="soloLetrasNumeros" append-icon="mdi-magnify" label="Búsqueda" solo single-line hide-details></v-text-field> 
                                    </v-col>
                                    <v-col cols="2">
                                        <v-btn dark small color="primary" @click="dialogUSR=true" 
                                                    style="width:142px;height:32px;margin-top:22px!important;margin-right:12px!important;margin-right:10px;">
                                            <v-icon left>mdi-account-plus</v-icon>Agregar
                                        </v-btn>
                                    </v-col>
                                </v-row>
                        </v-card-title>

                        <v-data-table dense :headers="headers" :items="getUsuarios" :items-per-page="10" :search="search" :hide-default-header="hideHeader"
                        :footer-props="{
                                    showFirstLastPage: true,
                                    'items-per-page-text':'filas por página',      
                                }">
                            <template  v-slot:header="{ props: { headers } }">
                                    <thead style="background-color: #1976d2 !important;border-color: #1976d2 !important;color:white;font-size:15px!important;font-weight: bolder;">
                                    <tr>
                                        <td align="left">
                                        ROL
                                        </td>
                                        <td align="left">
                                        USUARIO
                                        </td>
                                        <td align="left">
                                        NOMBRE
                                        </td>
                                        <td align="left">
                                        
                                        </td>
                                        <td align="left">
                                        
                                        </td>
                                    </tr>
                                    </thead>
                                </template>
                            
                            
                            <template v-slot:item.Acciones="{ item }">
                                <v-icon  class="mr-2" @click="editUSR(item)">mdi-file-document-edit-outline</v-icon>
                                <v-icon background-color="error" color="red"  @click="deleteItemUSR(item)">mdi-delete-forever</v-icon>
                            </template>
                            <template v-slot:no-data>
                            </template>
                            <template 
                            v-slot:footer.page-text="items"> {{ items.pageStart }} - {{ items.pageStop }} de {{ items.itemsLength }} 
                            </template>
                        </v-data-table>

                    </v-card>
                </template>
           </v-col>
         </v-row>

          <!-- nuevo usuario -->
          <v-dialog v-model="dialogUSR" max-width="400px" dense>
                <v-card>
                    <v-form ref="form" v-model="valid" lazy-validation>
                    <v-card-title class="text-center" blue lighten-5>
                        <span class="headline">Nuevo usuario</span>
                    </v-card-title>

                    <v-card-text class="mt-3">
                        <v-container>
                            <v-row>
                                <v-col cols="12" md="12" class="mt-n4">
                                    <!-- <v-text-field v-model="usrContent.usrRol" label="Rol"></v-text-field> -->
                                    <!-- this.editedItemUSR.rol.id -->
                                    <v-select :items="itmRoles" item-text="description" return-object label="Rol" solo v-model="editedItemUSR.rol"></v-select>
                                </v-col>
                                <v-col cols="12" md="12" class="mt-n9">
                                    <v-text-field label="Usuario" outlined dense v-model="editedItemUSR.username" :rules="ruleMascara1" required maxlength="50"></v-text-field>
                                </v-col>
                                <v-col cols="12" md="12" class="mt-n8 mb-n6" >
                                    <v-text-field label="Nombre" style="margin-top:4px" outlined dense v-model="editedItemUSR.nombre" :rules="ruleMascara2" required maxlength="150"></v-text-field>
                                </v-col>
                                
                                <!-- <v-col cols="12"  md="12" class="mt-n10">
                                    <v-checkbox v-model="absolute" label="Activo"></v-checkbox>
                                </v-col> -->
                                <!-- <v-col cols="12" sm="6" md="12">
                                    <v-text-field v-model="usrContent.usrArea" label="Área"></v-text-field>
                                </v-col> -->
                            </v-row>
                        </v-container>
                    </v-card-text>
                    <br/>
                    <v-card-actions class="mt-n12">
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeUSR">Cancelar</v-btn>
                        <v-btn color="blue darken-1" text @click="saveUSR2">Guardar</v-btn>
                    </v-card-actions>
                  </v-form>
                </v-card>
            </v-dialog>

           <!-- newLine se crea v-dialog formE-->
            <!-- edición de usuario -->
          <v-dialog v-model="dialogEditUSR" max-width="400px" dense>
                <v-card>
                    <v-form ref="formE" v-model="valid" lazy-validation>
                    <v-card-title class="text-center" blue lighten-5>
                        <span class="headline" >Editar usuario</span>
                    </v-card-title>

                    <v-card-text class="mt-3">
                        <v-container>
                            <v-row>
                                <v-col cols="12" md="12" class="mt-n4">
                                    <!-- <v-text-field v-model="usrContent.usrRol" label="Rol"></v-text-field> -->
                                    <!-- this.editedItemUSR.rol.id -->
                                    <v-select :items="itmRoles" item-text="description" return-object label="Rol" solo v-model="editedItemUSR.rol"></v-select>
                                </v-col>
                                <v-col cols="12" md="12" class="mt-n9">
                                    <v-text-field readonly="readonly" label="Usuario" outlined dense v-model="editedItemUSR.username" :rules="ruleMascara1" required maxlength="50"></v-text-field>
                                </v-col>
                                <v-col cols="12" md="12" class="mt-n8 mb-n6" >
                                    <v-text-field label="Nombre" style="margin-top:4px" outlined dense v-model="editedItemUSR.nombre" :rules="ruleMascara2" required maxlength="150"></v-text-field>
                                </v-col>
                                
                                <!-- <v-col cols="12"  md="12" class="mt-n10">
                                    <v-checkbox v-model="absolute" label="Activo"></v-checkbox>
                                </v-col> -->
                                <!-- <v-col cols="12" sm="6" md="12">
                                    <v-text-field v-model="usrContent.usrArea" label="Área"></v-text-field>
                                </v-col> -->
                            </v-row>
                        </v-container>
                    </v-card-text>
                    <br/>
                    <v-card-actions class="mt-n12">
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeUSR">Cancelar</v-btn>
                        <v-btn color="blue darken-1" text @click="saveUSR">Guardar</v-btn>
                    </v-card-actions>
                  </v-form>
                </v-card>
            </v-dialog>


        
        <v-snackbar v-model="snackbar"  :color="colorSnackbar"  multi-line="multi-line"  :timeout="timeout"  vertical="vertical">
            {{ msgAlert }}
            <v-btn dark text @click="snackbar = false">
                Cerrar
            </v-btn>
        </v-snackbar>
        <v-overlay :value="overlay">
            <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>

    </v-card>     
</div>
</template>

<script>
import operations from '../operations'


export default {
    name: 'Roles',
    data: () => ({
        dialogEditUSR:false,
        hideHeader:true,
        overlay: false,
        snackbar:false,
        msgAlert:'',
        newusrroll:true,
        absolute: false,
        dialogUSR: false,
        colorSnackbar:'',
        timeout: 6000,
        agregaUSR:false,
        item: null,
        inset: false,
        itmRoles: [],
        search: '',
        headers: [
          {
            text: 'ROL',
            align: 'left',
            //filterable: false,
            value: 'rol',
          },
          { text: 'USUARIO', align: 'left', value: 'username' },
          { text: 'NOMBRE',align: 'left', value: 'nombre' },
          {
              text: '',
              value: 'Acciones',
              sortable:false,
              filterable: false,
              align:'center',
          },
        ],
        usuarios: [],
        editedItemUSR: {
            rol: '',
            username: '',
            nombre:'',
        },
        editedIndexUSR:-1,
        ruleMascara1: [
      r => !!r || "El campo es requerido",
      r =>
        (r && r.length > 0 && r.length <= 150) ||
        "La Longitud del campo es  entre 1 y 50 carácteres"
    ],
     ruleMascara2: [
      r => !!r || "El campo es requerido",
      r =>
        (r && r.length > 0 && r.length <= 150) ||
        "La Longitud del campo es  entre 1 y 150 carácteres",
      r => /^[A-Za-z ]+$/g.test(r) || "Solo se aceptan letras. No se permiten carácteres especiales" //'Solo letras y números',
    ],
    }),
    created(){
        this.roles();
        this.usersByRole();
        this.bitacora("Ingresando a configuración de roles");

        
       
        
    },
    computed:{
      getUsuarios(){
        //   var usuariosFiltados= this.usuarios.filter(
        //       rol != "Sin rol asignado"
        //   );
          var usuariosFiltados= this.usuarios.filter(function (el) {
             //return (el.rol != "Sin rol asignado" || el.rol != 'El usuario no tiene role asignado');
             return el.rol != 'El usuario no tiene role asignado';
             });

          return usuariosFiltados;
      }
    },
    methods:{
        soloLetrasNumeros: function (tecla) {
            //enablecontroles("#txtNomSolicitantenew");
            var texto = tecla.key;
            var reg = /^[A-Za-z0-9\s]+$/g;
            if (reg.test(texto)) {
                return true;

            } else {
                tecla.preventDefault();
                return false;
            }
        },
        async roles(){
            try{
                 
                const response = await operations.roles({ aux:"" });

                
                if(response.status == "200"){
                  
                    this.itmRoles=[];
                    this.itmRoles=response.data.catalog;
                    
                }
                if(response.status == "204"){
                    console.log("204");
                    
                }else{
                    
                }
            }catch(error){
                console.log(error);
            }
        },
        async usersByRole(){
            try{
                const response = await operations.usersByRole({ role:""});
                if(response.status == "200"){
                    this.usuarios=[];
                    this.usuarios=response.data.users;
                    console.log(this.usuarios);
                }
                if(response.status == "204"){
                    console.log("204");
                    
                }else{
                    
                }
            }catch(error){
                console.log(error);
            }
        },
        async assignRole(role, username, nombre){
            
            try{
                this.overlay=true;
                var newUsr={
                    rol: this.editedItemUSR.rol.id,
                    username: this.editedItemUSR.username,
                    nombre:this.editedItemUSR.nombre
                };
                const response = await operations.assignrole({ role:role,username:username,nombre:nombre});
                if(response.status == "200"){
                   
                    if (this.editedIndexUSR > -1) {
                        Object.assign(this.usuarios[this.editedIndexUSR], newUsr)
                    }else {
                        this.usuarios.push(newUsr)
                    } 
                    this.bitacora("Configurando rol");
                    this.overlay=false;
                    this.snackbar = true;
                    this.msgAlert=response.data.response;
                    this.colorSnackbar='green';       

                    
                }
                if(response.status == "204"){
                    console.log("204");
                    
                }else{
                    
                }
            }catch(error){
                this.bitacora("Error al momento de guardar el rol " + error.response.data.response);
                this.overlay=false;
                this.snackbar = true;
                this.msgAlert="Error: " + error.response.data.response;
                this.colorSnackbar='red';
                
            }
        },
        async removeRole(role, username){
            try{
                this.overlay=true;
              
                const response = await operations.removerole({ role:role,username:username});
                if(response.status == "200"){
                    
                    this.overlay=false;
                    this.snackbar = true;
                    this.msgAlert=response.data.response;
                    this.colorSnackbar='green';       
                }
                if(response.status == "204"){
                    console.log("204"); 
                }else{
                    
                }
            }catch(error){
                this.overlay=false;
                this.snackbar = true;
                this.msgAlert="Error: " + error.response.data.response;
                this.colorSnackbar='red';
            }
        },
        closeUSR () {
              
            this.ruleMascara1=[];
            this.ruleMascara2=[];
            this.dialogUSR = false;
            //newLine this.newusrroll=true;
            this.dialogEditUSR = false;
            this.newusrroll=true;
            setTimeout(() => {
                this.editedItemUSR = Object.assign({}, this.defaultItemUSR)
                //this.editedIndexUSR = -1

                this.ruleMascara1= [
                r => !!r || "El campo es requerido",
                r =>
                    (r && r.length > 0 && r.length <= 50) ||
                    "La Longitud del campo es  entre 1 y 50 carácteres"
                ];

///^[A-Za-z0-9_ -\s]+$/g.test(r)
                this. ruleMascara2= [
                    r => !!r || "El campo es requerido",
                    r =>
                        (r && r.length > 0 && r.length <= 150) ||
                        "La Longitud del campo es  entre 1 y 150 carácteres",
                    r => /^[A-Za-z ]+$/g.test(r) || "Solo se aceptan letras. No se permiten carácteres especiales" //'Solo letras y números',
                    ];


                this.$refs.form.resetValidation();

            }, 300);
        },
        async bitacora(evento){
            try{
                    const response = await operations.userLog({ funcionality:evento,username:this.$store.state.sesion.usuario});
                    
                    if(response.status == "200"){
                        if(response.data.status=='C'){
                            console.log("registrado en bitacora ok");
                        }else{
                       /* this.snackbar = true;
                        this.msgSanck=response.data;
                        this.colorSnack='red';*/
                        }
                    }
                }catch(error){
                   /* this.overlay = false;
                    this.snackbar = true;
                    this.msgSanck="Error al registrar en bitacora:" + error.response.data;
                    this.colorSnack='red';*/
                    return;
                }
            }, 
        saveUSR () {
            //newLine formE
            this.newusrroll=true;

            if (this.$refs.formE.validate()) {

           // console.log(this.editedItemUSR.rol.id);
           // console.log(this.$store.state.sesion.role);
            if(this.$store.state.sesion.role== "ROLE_USER_ADMIN" && this.editedItemUSR.rol.id=="ROLE_SUPER_ADMIN" ){
                 this.overlay=false;
                    this.snackbar = true;
                    this.msgAlert="Operación no permitida. Sólo el SUPER_ADMIN puede cambiar su propio rol.";
                    this.colorSnackbar='red';   
                    return;
            }

            this.editedItemUSR.nombre = this.editedItemUSR.nombre.trim();
            if(this.editedItemUSR.nombre.length <= 0){
                this.overlay=false;
                this.snackbar = true;
                this.msgAlert="El campo de nombre es requerido.";
                this.colorSnackbar='red';   
                return;
            }



            if(this.editedItemUSR.rol==undefined || this.editedItemUSR.rol!=""){
                 this.assignRole(this.editedItemUSR.rol.id,this.editedItemUSR.username,this.editedItemUSR.nombre);
                 this.closeUSR();
            }else{
                  this.overlay=false;
                  this.snackbar = true;
                  this.msgAlert="No se ha seleccionado rol.";
                  this.colorSnackbar='red'; 
                  return;    
            }
            

         
            }else{
                console.log("campos no validados");
                console.log(this.editedItemUSR);
                 var msg="";

                 if(this.editedItemUSR.rol!="" && this.editedItemUSR.nombre=="" &&this.editedItemUSR.username==""){
                  msg= "Los campos de usuario y nombre son requeridos";
                 }
                 else if(this.editedItemUSR.rol!="" && this.editedItemUSR.nombre=="" &&this.editedItemUSR.username!=""){
                  msg= "El campo de nombre es requerido";
                 }
                 else if(this.editedItemUSR.rol!="" && this.editedItemUSR.nombre!="" &&this.editedItemUSR.username==""){
                  msg= "El campo de usuario es requerido";
                 }
                else if(this.editedItemUSR.rol=="" && this.editedItemUSR.nombre=="" &&this.editedItemUSR.username==""){
                     msg= "No se ha seleccionado rol. Hay campos vacíos";
                }else if(this.editedItemUSR.rol==""){
                    msg= "No se ha seleccionado rol.";
                }
                else{

                    if(this.editedItemUSR.nombre=="" &&this.editedItemUSR.username==""){
                      msg= "Hay campos vacíos.";
                    }else{
                        return;
                    }
                     
                }
                this.overlay=false;
                    this.snackbar = true;
                    this.msgAlert=msg;
                    this.colorSnackbar='red';   
            }
        },
          saveUSR2 () {
            if (this.$refs.form.validate()) {

           // console.log(this.editedItemUSR.rol.id);
           // console.log(this.$store.state.sesion.role);
            if(this.$store.state.sesion.role== "ROLE_USER_ADMIN" && this.editedItemUSR.rol.id=="ROLE_SUPER_ADMIN" ){
                 this.overlay=false;
                    this.snackbar = true;
                    this.msgAlert="Operación no permitida. Sólo el SUPER_ADMIN puede cambiar su propio rol.";
                    this.colorSnackbar='red';   
                    return;
            }

            this.editedItemUSR.username = this.editedItemUSR.username.trim()
            this.editedItemUSR.nombre = this.editedItemUSR.nombre.trim()
            if(this.editedItemUSR.username <= 0){
                this.overlay=false;
                this.snackbar = true;
                this.msgAlert="El campo de usuario es requerido";
                this.colorSnackbar='red';   
                return;
            }
            if(this.editedItemUSR.nombre <= 0){
                this.overlay=false;
                this.snackbar = true;
                this.msgAlert="El campo de nombre es requerido";
                this.colorSnackbar='red';   
                return;
            }
            var arrUsuariosFiltrados = this.usuarios.filter(it => this.editedItemUSR.username == it.username);
            if(arrUsuariosFiltrados.length >= 1){
                this.overlay=false;
                this.snackbar = true;
                this.msgAlert="El usuario ya esta registrado.";
                this.colorSnackbar='red'; 
                return;    
            }

            if(this.editedItemUSR.rol==undefined || this.editedItemUSR.rol!=""){
                 this.assignRole(this.editedItemUSR.rol.id,this.editedItemUSR.username,this.editedItemUSR.nombre);
                 this.closeUSR();
            }else{
                  this.overlay=false;
                  this.snackbar = true;
                  this.msgAlert="No se ha seleccionado rol.";
                  this.colorSnackbar='red'; 
                  return;    
            }
            
         
            }else{
                console.log("campos no validados");
                console.log(this.editedItemUSR);
                 var msg="";

                 if(this.editedItemUSR.rol!="" && this.editedItemUSR.nombre=="" &&this.editedItemUSR.username==""){
                  msg= "Los campos de usuario y nombre son requeridos";
                 }
                 else if(this.editedItemUSR.rol!="" && this.editedItemUSR.nombre=="" &&this.editedItemUSR.username!=""){
                  msg= "El campo de nombre es requerido";
                 }
                 else if(this.editedItemUSR.rol!="" && this.editedItemUSR.nombre!="" &&this.editedItemUSR.username==""){
                  msg= "El campo de usuario es requerido";
                 }
                else if(this.editedItemUSR.rol=="" && this.editedItemUSR.nombre=="" &&this.editedItemUSR.username==""){
                     msg= "No se ha seleccionado rol. Hay campos vacíos";
                }else if(this.editedItemUSR.rol==""){
                    msg= "No se ha seleccionado rol.";
                }
                else{

                    if(this.editedItemUSR.nombre=="" &&this.editedItemUSR.username==""){
                      msg= "Hay campos vacíos.";
                    }else{
                        return;
                    }
                     
                }
                this.overlay=false;
                    this.snackbar = true;
                    this.msgAlert=msg;
                    this.colorSnackbar='red';   
            }
        },
        editUSR (item) {
            
            this.newusrroll=false;
            this.editedIndexUSR = this.usuarios.indexOf(item);
            for(var r=0; r< this.itmRoles.length; r++){
                if(this.itmRoles[r].id==item.rol){
                    this.editedItemUSR.rol=this.itmRoles[r];
                }
            }
            this.editedItemUSR.username=item.username;
            this.editedItemUSR.nombre=item.nombre;
            console.log(this.editedItemUSR.rol.id);
            console.log(this.$store.state.sesion.role);
            
           //newLine
            this.dialogEditUSR = true;
        },
        deleteItemUSR (item) {
            
            const index = this.usuarios.indexOf(item);
           var res= confirm('¿Está seguro que desea eliminar este usuario?') && this.usuarios.splice(index, 1);

           if(res !=false){
               this.removeRole(item.rol,item.username);
           }
      },

    },
    watch: {
      dialogUSR (val) {
        val || this.closeUSR()
      },
    },
}
</script>
<style>
.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: auto;
    font-size: 12px;
}
.v-text-field.v-text-field--solo .v-label {
    top: calc(50% - 10px);
    font-size: 12px;
}
.v-dialog > .v-card > .v-card__title {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    padding: 16px 24px 10px;
    display: flow-root;
    background-color: #1976d2 !important;
    color: white;
}

div.v-messages__message {
    font-size: 9px!important;
    margin-top: 2px;
}
</style>