<template>
  <v-list >
     <v-divider></v-divider>

     <v-select v-if="this.$store.state.sesion.ejecucionAnillo"  prepend-icon="mdi-vector-circle" dense single-line :items="getAnillosValidos" 
     item-text="anillo" item-value="id" v-model="$store.state.menuAnilloSeleccionado" @change="seleccionaAnillo"
     label="Anillos" style="margin-top:20px;margin-left: 16px;"></v-select>

     <v-divider></v-divider>

    <v-list-item v-if="this.$store.state.sesion.configAnillos"  @click="redirije('/anillos')" style="border-bottom: 1px solid #d6d3d3;" color="primary">
        <v-list-item-action >
          <v-icon>mdi-vector-polyline-edit</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
            Config. de anillos
          </v-list-item-title>
        </v-list-item-content>
    </v-list-item>

    <v-list-item v-if="this.$store.state.sesion.userAdmin" @click="redirije('/roles')" style="border-bottom: 1px solid #d6d3d3;" color="primary">
        <v-list-item-action >
          <v-icon>mdi-account-key-outline</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
            Roles
          </v-list-item-title>
        </v-list-item-content>
    </v-list-item>

    <v-list-item v-if="this.$store.state.sesion.historialEvidencias" @click="redirije('/historial')" link style="border-bottom: 1px solid #d6d3d3;" color="primary">
        <v-list-item-action >
          <v-icon>mdi-history</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
            Historial de evidencias
          </v-list-item-title>
        </v-list-item-content>
    </v-list-item>

       <v-list-item v-if="this.$store.state.sesion.parametros" @click="redirije('/parametros')" link style="border-bottom: 1px solid #d6d3d3;" color="primary">
        <v-list-item-action >
          <v-icon>mdi-tune</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>
            Parámetros
          </v-list-item-title>
        </v-list-item-content>
    </v-list-item>




  </v-list>
</template>
<script>
import router from '../router/index';
import operations from '../operations';


  export default {
    name:'menuDrawel',
    data(){
      return {
        timerPerformance:'',
        aux:{},
        returnAnchoBanda:'',
        search: null,
        drawer: null,
        tipoev:null,
        tabsActivos:[],
        items: [
          // {link:'/nuevo-anillo',icon: 'mdi-desktop-mac-dashboard', text: 'Nuevo anillo', name: 'Dashboard', idConfig:null, noAnillos:null,mapAnillo:null,tipoev:null},
          {link:'/anillos', icon: 'mdi-vector-polyline-edit', text: 'Config. de anillos', name: 'Configuraciones de anillos' , idConfig:null, noAnillos:null,mapAnillo:null,tipoev:null},
          {link:'/roles', icon: 'mdi-account-key-outline', text: 'Roles', name: 'Roles', idConfig:'', noAnillos:null,mapAnillo:null,tipoev:null},
          {link:'/historial', icon: 'mdi-history', text: 'Historial de evidencias' , name: 'Historial', idConfig:'', noAnillos:null,mapAnillo:null,tipoev:null},
        ],
        model: null,
      }
    },
    methods:{
        redirije(path){
          this.$store.state.anillosE=this.$store.state.anillos;
          console.log("inicio anillos..");
          //console.log(this.$store.state.anillosE);

          //console.log(path);
          if(this.$store.state.ejecucion.isRunning){
              this.$store.state.ejecucion.estaSeguro=true;
              //console.log(this.$store.state.menuAnilloSeleccionado);
              //clean execution objects-------------------------------
              this.resetObjs();

              return;
          }
          else{
            this.$store.state.anilloSeleccionado=null;//new
            this.$store.state.omiteValInicial=true;//new
            this.$store.state.formValInicialx=false;
            this.$store.state.ejecucion.timerID='';
            this.resetObjs();
            router.push(path);
          }
          
        },
        resetObjs(){
          this.$store.state.ejecucion.stepProceso=-1;
          this.$store.state.ejecucion.incrementoIndicadorGeneral=0;
          this.$store.state.ejecucion.indicadorGeneral=0;
          this.$store.state.macroProceso.vecesDown=0;
          this.$store.state.macroProceso.final=false;
          this.$store.state.ejecucion.idLog=0;
          this.$store.state.ejecucion.logEjecucion=[];//new
          this.$store.state.macroProceso.arrEjecucionesDown=[];
          clearInterval(this.$store.state.ejecucion.timerID);
          clearInterval(this.$store.state.ejecucion.processID);
          clearTimeout(this.$store.state.ejecucion.timerID);
          clearTimeout(this.$store.state.ejecucion.processID);
          this.$store.state.ejecucion.timerID='';
          this.$store.state.ejecucion.processID='';
          this.$store.state.ejecucion.time='00:00:00';
          this.$store.state.ejecucion.fechaFin= '';

          this.$store.state.formValInicial=false;

          clearInterval(this.$store.state.timerPerformance);
          this.$store.state.timerPerformance='';
         // this.$store.state.menuAnilloSeleccionado=null; 
        },
        seleccionaAnillo(){

          if(this.$store.state.ejecucion.isRunning){
              this.$store.state.ejecucion.estaSeguro=true;
              //console.log(this.$store.state.menuAnilloSeleccionado);
              this.$store.state.menuAnilloSeleccionado=null; 
              return;
          }
          //clean execution objects-------------------------------
          this.resetObjs();


          //-------------------------------------------------------

          var arrAnillos=this.$store.state.anillos;
          this.$store.state.anilloSeleccionado = null;

          for(var j=0; j<arrAnillos.length; j++){
            if(arrAnillos[j].id==this.$store.state.menuAnilloSeleccionado){
              this.$store.state.anilloSeleccionado = j;
              break;
            }else{
              this.$store.state.anilloSeleccionado=null;
            }
          }

          // console.log("this.$store.state.anilloSeleccionado:::");
          // console.log(this.$store.state.anilloSeleccionado);
          this.$store.state.indexEdit=this.$store.state.anilloSeleccionado;


          //---------------------------------------------------------
          console.log("Inicializando set timeout de performance...");
           this.$store.state.timerPerformance = setInterval(this.getPerformanceData, 30000);
           //this.getPerformanceData();
          //----------------------------------------------------------
          
          if(this.$store.state.anillos[this.$store.state.anilloSeleccionado].estatus==3){
              this.$store.state.ejecucion.loaded=false;
              router.push('/ejecucion-bloqueada');
          }else if(this.$store.state.ejecucion.loaded==false){
              this.$store.state.ejecucion.loaded=true;
              //this.select=null;
              router.push('/ejecucion-a');
          }
          else{
              this.$store.state.ejecucion.loaded=false;
              //this.select=null;
              router.push('/ejecucion-b');
          }
          
        },
        getPerformanceData(){
          try{
                console.log("Getting performance data and setting in background. Trying.....");
                if(this.$store.state.templateAnillo==null){
                  //  console.log("aun no carga el template");
                    return;
                  } 

                   if (!this.$store.state.ejecucion.isRunning) {
                       // console.log("No hay ejecución...");
                        return;
                      }

                if (this.$store.state.anilloSeleccionado != null) {
                   // console.log("anillo seleccionado..");

                     clearInterval(this.$store.state.timerPerformance);
                      this.$store.state.timerPerformance='';

                     
                  //this.anilloSel.nodos;
                      this.aux = this.$store.state.templateAnillo.childNodes[0].childNodes[0].childNodes;
                      this.$store.state.arrEquiposRef=[];

                      for(var i=0;i<this.aux.length;i++){
                        if(this.aux[i].classList[0]=="nodo"){
                            //console.log("nodo para validar ancho de banda::::");
                            
                            if(this.aux[i].attributes.value.nodeValue!=''){
                                  var equipo=this.aux[i].attributes.value.nodeValue;
                                  var equipoEncontrado = this.$store.state.arrequiposOriginal.filter(obj =>{
                                                          return obj.equipo === equipo
                                                        });
                                  this.$store.state.arrEquiposRef.push(equipoEncontrado);
                            }
                        }  
                      }
                      //------------------------------------------------------------
                      if(this.$store.state.arrEquiposRef.length < this.$store.state.arrequiposOriginal.length)return;
                      console.log("::::::::::::::::::");
                      console.log(this.$store.state.arrEquiposRef);

                      // clearInterval(this.timerPerformance);
                      // this.timerPerformance='';
                      console.log("Invocando servicios de ancho d ebanda....");
                      for(var x=0;x<this.$store.state.arrEquiposRef.length;x++){

                           if(this.$store.state.arrEquiposRef[x].length>0){
                             this.getanchoBanda(x,(this.$store.state.arrEquiposRef[x])[0].interfaz,(this.$store.state.arrEquiposRef[x])[0].ip,(this.$store.state.arrEquiposRef[x])[0].equipo,this.$store.state.sesion.usuario,this.$store.state.arrEquiposRef.length);
                             //this.sleep(1000);
                           }
                           
                            
                      }
                }else{
                  console.log("daemon...");
                }
                //--------------------------------------
          }catch(error){
            console.log(error);
           //console.log("error al recuperar performance");
          }
            
          },
        sleep(ms) {
          var start = new Date().getTime();
          var end = start;
          while (end < start + ms) {
            end = new Date().getTime();
          }
        },
        async getanchoBanda(index,_interfaz,_ip,_equipo,_usuario,_longitud){
            
            try {
                 //ambiente
                 /*
                   const response = await operations.getanchoBanda({
                     hostname: _interfaz,
                     ip: _ip,
                     username:_usuario
                   }); */
                   var regreso = (Math.floor(Math.random() * 2)) == 1 ? "100": "50"; 
                   var response = {
                    status:"200",
                    data:regreso
                  };

              if (response.status == "200") {
                  //console.log("servicio ejecuta OK");
                  this.actualizaTabla(_interfaz,_ip,_equipo,response.data);
              }else{
                console.log("Error al obtener el ancho de banda");
              }

              if(index>=_longitud-1){
                 this.$store.state.timerPerformance = setInterval(this.getPerformanceData, 240000);
              }


            } catch (error) {
             // console.log("Error al obteber el ancho de banda");
              console.log(error);
              //console.log(error.response);
               this.actualizaTabla(_interfaz,_ip,_equipo,"...");

              if(index>=_longitud-1){
                 this.$store.state.timerPerformance = setInterval(this.getPerformanceData, 240000);
              }
            }


          },  
        actualizaTabla(_interfaz,_ip,_equipo,responseData){
          try{
             for(var y=0;y<this.$store.state.arrEquiposRef.length;y++){
                 if(this.$store.state.arrEquiposRef[y]!=undefined){
                    if(this.$store.state.arrEquiposRef[y].length>0){
                        if(  (this.$store.state.arrEquiposRef[y])[0].equipo==_equipo){
                          (this.$store.state.arrEquiposRef[y])[0].performance=responseData;
                         }
                    }
                     
                 }
                   
              }
              //console.log("termina de actualizar la tabla");
          }catch(error){
            console.log(error);
          }
          
        }, 
        async bitacora(evento){
          try{
                const response = await operations.userLog({ funcionality:evento,username:this.$store.state.sesion.usuario});
                
                if(response.status == "200"){
                    if(response.data.status=='C'){
                        console.log("registrado en bitacora ok");
                    }else{
                      //this.snackbar = true;
                      //this.msgSanck=response.data;
                      // this.bitacora(this.msgSanck);
                     // this.colorSnack='red';
                    }
                }
            }catch(error){
                /*this.overlay = false;
                this.snackbar = true;
                this.msgSanck="Error al registrar en bitacora:" + error.response.data;
                // this.bitacora(this.msgSanck);
                this.colorSnack='red';*/
                return;
            }
          }, 
        async getAnillosHeader(){
             //this.$store.state.anillos;  <-----estructura original
             console.log('getAnillosHeader');
            try{
                const response = await operations.getAnillosHeader({ aux:'xxx'});

                if(response.status == "200"){
                    //console.log(response.data);
                    this.$store.state.anillos=[];

                    for(var i=0;i<response.data.anillos.length;i++){
                        try{
                            var anilloAux= response.data.anillos[i].anillo== undefined ? '' : response.data.anillos[i].anillo;
                            //console.log(anilloAux);
                            
                            const responseDetails = await operations.getAnillosDetalle({ anillox :anilloAux });

                            var nombreAnilloNuevo = responseDetails.data.anillos[0].anillo.trim().toUpperCase();
                            var veces = this.findObjectByKey((this.$store.state.anillos), "anillo", nombreAnilloNuevo);
                            //console.log(nombreAnilloNuevo);
                            //console.log(veces);

                            if(veces == 0){//si no existe, lo agrega al array
                                this.$store.state.anillos.push(responseDetails.data.anillos[0]);
                                //console.log("agregando item a anillo...");
                                //console.log(responseDetails.data.anillos[0]);
                            }
                        }catch(error){
                            console.log(error);
                        }
                    } 

                    
                    this.$store.state.anillosE=this.$store.state.anillos;
                    //console.log(this.$store.state.anillos);
                    //this.initAnillos();
                }
            }catch(error){
                //console.log(error);
                //console.log(error.response);

                if(error.response==undefined){
                this.snackbar = true;
                this.msgSanck="Error :Al conectar con el servicio " + error;
                // this.bitacora(this.msgSanck);
                this.colorSnack='red';
                return;
              }
                
                this.overlay=false;
                this.snackbar = true;
                
                this.msgSanck="Error:" + error.response.data.response;
                // this.bitacora(this.msgSanck);
                this.colorSnack='red';
            }

           // return this.$store.state.anillos;
         },
         findObjectByKey(array, key, value) {
            var veces=0;
            for (var i = 0; i < array.length; i++) {
                if (array[i][key] === value) {
                    veces++;
                    //return array[i];
                }
            }
            return veces;
        },
        
      },
      computed:{
        getAnillosValidos(){
            var arrAnillosValidados=[];
           for(var i=0; i<this.$store.state.anillos.length;i++){
               //console.log(this.$store.state.anillos);
               if(this.$store.state.anillos[i].estatus == 2 || this.$store.state.anillos[i].estatus == '2'){
                 arrAnillosValidados.push(this.$store.state.anillos[i]);
               }
             }
          return arrAnillosValidados;//this.$store.state.anillos;
        }
      },
      mounted(){
        this.$store.state.anillos=[];
        this.getAnillosHeader();
      },
      created() {
          
      },  
       
  }
</script>

<style scoped>
 
</style>