<template>
  <div class="text-center" >
      <v-row >
          <v-col cols="3" style="margin-top:-18px!important">
            <v-progress-circular
            :rotate="360"
            :size="60"
            :width="15"
            :value="value"
            color="teal"
            >
            {{ value }}
            </v-progress-circular>
        </v-col>
        <v-col cols="3" style="margin-top:-18px!important">
            <v-progress-circular
            :rotate="-90"
            :size="60"
            :width="15"
            :value="value"
            color="primary">{{ value }}
            </v-progress-circular>
        </v-col>
 
        <v-col cols="3" style="margin-top:-18px!important">
            <v-progress-circular
            :rotate="180"
            :size="60"
            :width="15"
            :value="value"
            color="pink">{{ value }}
            </v-progress-circular>
        </v-col>

         <v-col cols="3" style="margin-top:13px;font-size:23px">
           00:01:13
        </v-col>
    </v-row>

  </div>
</template>

<script>


  export default {
    name:'Metricas',  
    data () {
      return {
        interval: {},
        value: 0,
      }
    },
    beforeDestroy () {
      clearInterval(this.interval)
    },
    mounted () {
      this.interval = setInterval(() => {
        if (this.value === 100) {
          return (this.value = 0)
        }
        this.value += 10
      }, 1000)
    },
  }
</script>


<style scoped>
.v-progress-circular {
  margin: 1rem;
}
</style>