<template>
    <v-card class="mx-auto" color="white" height="50" max-width="250"  elevation="0" style="height:75px!important">
    <v-card-title >
      <v-icon :color="checking ? 'red lighten-2' : 'indigo'" class="mr-4" size="24" @click="" style="margin-top:-15px">mdi-camera-timer</v-icon>
      <v-row align="start" style="margin-top:-17px">
        <div><strong>Tiempo ejecución</strong></div>
      </v-row>
    </v-card-title>

    <v-sheet color="transparent" style="margin-top:-30px">
     <div id="clock" class="clock">
        <p class="time">{{ this.$store.state.ejecucion.time }}</p>
    </div>
    </v-sheet>
  </v-card>
</template>
<script>

  export default {
    data: () => ({
      colorReloj:'red',
      vuelta:0,
      actual:0,
      checking: false,
      date: '',
      week: ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'],
      idLog:0,
      mensajeInicial:'Iniciando prueba de ejecución del anillo',
      step:'inicio'
    }),
    props: ['accion'],
    computed: {
    },
    methods: {
      start(){
        this.$store.state.ejecucion.inicio = this.vuelta = new Date().getTime();
        this.$store.state.ejecucion.timerID = setInterval(this.updateTime, 1000);
      },
      stop(){
        clearInterval(this.$store.state.ejecucion.timerID);
      },
      updateTime() {
       // console.log("updating clock....");
        // this.actual = new Date().getTime();
        // this.diff = new Date(this.actual-this.$store.state.ejecucion.inicio);

        // this.time = this.zeroPadding(this.diff.getUTCHours(),2) 
        //     + ':' + this.zeroPadding(this.diff.getUTCMinutes(),2) 
        //     + ':' + this.zeroPadding(this.diff.getUTCSeconds(),2);
        this.$store.state.ejecucion.actual = new Date().getTime();
        this.$store.state.ejecucion.diff = new Date(this.$store.state.ejecucion.actual-this.$store.state.ejecucion.inicio);
        
        this.$store.state.ejecucion.time = this.zeroPadding(this.$store.state.ejecucion.diff.getUTCHours(),2) 
            + ':' + this.zeroPadding(this.$store.state.ejecucion.diff.getUTCMinutes(),2) 
            + ':' + this.zeroPadding(this.$store.state.ejecucion.diff.getUTCSeconds(),2);

        
      },
      startProcess(){
        this.$store.state.ejecucion.processID = setInterval(this.proceso, 2000);
      },
      stopProcess(){
        clearInterval(this.$store.state.ejecucion.processID);
      },
      proceso(){
        
        if(this.$store.state.nodoProceso==-1){
          this.log(this.mensajeInicial);
          this.$store.state.nodoProceso=0;
        }else{
          if(this.$store.state.nodoProceso>=this.$store.state.arrequipos.length){
            this.log("Proceso finalizado");
              this.stopProcess();
              this.stop();
          }else{

            //processing node
            //updating ring representation
            
             //var arrayNodoXml = this.$refs.ring.getNodosXml(this.$store.state.nodoProceso,this.$store.state.arrequipos[this.$store.state.nodoProceso]); //Obtener el nodo r del xml
             //this.$refs.ring.setNodoActive(arrayNodoXml,this.$store.state.arrequipos[this.$store.state.nodoProceso],"nodo"+this.$store.state.nodoProceso);
            //set node data into the log
            this.log('Procesando equipo: '+this.$store.state.arrequipos[this.$store.state.nodoProceso].equipo ); 
            this.log("Resultado OK");
            //------------------------------------------------------------------------------------------------------
            this.$store.state.nodoProceso++;
          }
          
        }
         
      },
      log(mensaje){
        this.idLog=this.idLog+1;
        //console.log(this.idLog);
        this.$store.state.ejecucion.log.push({id:this.idLog, log: new Date().toJSON().slice(0,10) + " " + new Date(new Date()).toString().split(' ')[4] + ' ' + mensaje});
        this.$set(this.$store.state.ejecucion.log, this.$store.state.ejecucion.log.length-1, {id:this.idLog, log: new Date().toJSON().slice(0,10) + " " + new Date(new Date()).toString().split(' ')[4] + ' ' + mensaje});
       },
      zeroPadding(num, digit) {
          var zero = '';
          for(var i = 0; i < digit; i++) {
              zero += '0';
          }
          return (zero + num).slice(-digit);
      }
    },
  }
</script>
<style scoped>
.clock {
    font-family: 'Share Tech Mono', monospace;
    color: red!important;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    
}
p {
    margin: 0;
    padding: 0;
}

.time {
        letter-spacing: 0.05em;
        font-size: 25px;
        padding: 2px 0;
        margin-top:25px
}
.date {
        letter-spacing: 0.1em;
        font-size: 24px;
}
.text {
        letter-spacing: 0.1em;
        font-size: 8px;
        padding: 20px 0 0;
}
</style>