<template>
<v-card class="mx-auto" style="width:99%;height:459px" >
    <v-card-text class="py-3">

      <v-timeline align-top dense >

        <!-- <v-timeline-item :color="$store.state.ejecucion.accesos2Color" small style="margin-top:-25px">
          <v-row  style="margin-top:-10px">
            <v-col cols="6">
              <strong><div style="width:120px">Accesos</div></strong>
               <v-btn :color="$store.state.ejecucion.accesosColor" depressed  width="160" small  style="justify-content: start;;height: 16px;" >Validación accesos</v-btn>
            
            </v-col>
          </v-row>
        </v-timeline-item> -->

        <v-timeline-item :color="$store.state.ejecucion.datosColor" small style="margin-top:-30px">
          <v-row  style="margin-top:-10px">
            <v-col cols="6">
              <strong><div style="width:120px">Datos</div></strong>
               <v-btn :color="$store.state.ejecucion.stepsEjecucion[0].color" depressed  width="170" small  style="justify-content: start;;height: 16px;font-size: 11px" >Ping LANWAN</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucion[1].color" depressed  width="170" small  style="justify-content: start;margin-top:2px;height: 16px;font-size: 11px" >OSPF</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucion[2].color" depressed  width="170" small  style="justify-content: start;margin-top:2px;height: 16px;font-size: 11px">BGP</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucion[3].color" depressed  width="170" small  style="justify-content: start;margin-top:2px;height: 16px;font-size: 11px">BGP ALL SUMM</v-btn>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item :color="$store.state.ejecucion.serviciosColor" small style="margin-top:-25px">
          <v-row style="margin-top:-8px">
            <v-col cols="6">
              <strong><div style="width:120px">Servicios</div></strong>
              <v-btn :color="$store.state.ejecucion.stepsEjecucion[4].color"  depressed  small width="170" style="justify-content: start;margin-top:2px;height: 16px;font-size: 11px">Voz</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucion[5].color" depressed  small width="170" style="justify-content: start;margin-top:2px;height: 16px;font-size: 11px">Internet</v-btn>
              <!-- <div class="caption mb-2">Voz</div>
              <div class="caption mb-2">Internet</div> -->
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item :color="$store.state.ejecucion.protocolosColor" small style="margin-top:-20px">
          <v-row style="">
            <v-col cols="6">
              <strong><div style="width:120px;margin-top: 4px;">Protocolos</div></strong>
               <v-btn :color="$store.state.ejecucion.stepsEjecucion[6].color" depressed  small width="170" style="justify-content: start;margin-top:2px;height: 16px;font-size: 11px">MPLS</v-btn>               
               <v-btn :color="$store.state.ejecucion.stepsEjecucion[7].color" depressed  small width="170" style="justify-content: start;margin-top:2px;height: 16px;font-size: 11px">IDENTIFICANDO CORTES</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucion[8].color" depressed  small width="170" style="justify-content: start;margin-top:2px;height: 16px;font-size: 11px">VRRP</v-btn>
              <!-- <div class="caption mb-2">MPLS</div>
              <div class="caption mb-2">Interfaces-LLDP</div>
              <div class="caption mb-2">VRRP</div> -->
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item :color="$store.state.ejecucion.evidenciasColor" small style="margin-top:-25px">
          <v-row style="margin-top:-22px">
            <v-col cols="6">
              <strong><div style="width:120px;margin-top: 14px;">Evidencias</div></strong>
              <!-- <div class="caption mb-2">Evidencias - DSI</div> -->
              <v-btn :color="$store.state.ejecucion.stepsEjecucion[9].color" depressed  small width="170" style="justify-content: start;height: 16px;font-size: 11px">Evidencias - DSI</v-btn>
            </v-col>
          </v-row>
        </v-timeline-item>

      </v-timeline>

    </v-card-text>
  </v-card>
</template>


<script>
export default {
   data(){
    return{
      
    }
   },
  methods:{
    getWindowHeight(event) {
        
      },
  },
   mounted(){
      // this.$nextTick(function() {
      //     //window.addEventListener('resize', this.getWindowWidth);
      //     window.addEventListener('resize', this.getWindowHeight);
      //     //this.getWindowWidth()
      //     this.getWindowHeight();
      //   });
    },
}
</script>