<template>
<v-card class="mx-auto" style="width:99%;height:248px" >
    <v-card-text class="py-2">
      
      <v-timeline align-top dense >

        <v-timeline-item :color="$store.state.ejecucion.accesos2Color" small style="margin-top:-20px">
          <v-row  style="margin-top:-8px">
            <v-col cols="6">
              <strong><div style="width:120px">Accesos</div></strong>
               <v-btn :color="$store.state.ejecucion.accesosColor" depressed  width="150"  x-small  style="justify-content: start;margin-top:-10px;height: 16px;" >Validación accesos</v-btn>
                <v-btn :color="$store.state.ejecucion.permisosColor" depressed  width="150"  x-small  style="justify-content: start;margin-top:-12px;height: 16px;" >Validación permisos</v-btn>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item :color="$store.state.ejecucion.protocolosColor" small style="margin-top:-30px">
          <v-row style="margin-top:-10px">
            <v-col cols="6">
              <strong><div style="width:120px;margin-top: 0px;">Protocolos</div></strong>               
               <v-btn :color="$store.state.ejecucion.stepsEjecucionX[0].color" depressed  x-small width="150" style="justify-content: start;margin-top:-10px;height: 16px;">IDENTIFICANDO CORTES</v-btn>
               <v-btn :color="$store.state.ejecucion.stepsEjecucionX[1].color" depressed  x-small width="150" style="justify-content: start;margin-top:-18px;height: 16px;">VRRP</v-btn>
            </v-col>
          </v-row>
        </v-timeline-item>

      </v-timeline>

    </v-card-text>
  </v-card>
</template>


<script>
export default {
   data(){
    return{
      
    }
   },
  methods:{
    getWindowHeight(event) {
        
      },
  },
   mounted(){
      // this.$nextTick(function() {
      //     //window.addEventListener('resize', this.getWindowWidth);
      //     window.addEventListener('resize', this.getWindowHeight);
      //     //this.getWindowWidth()
      //     this.getWindowHeight();
      //   });
    },
}
</script>