<template>
  <v-app id="inspire" >
    <template v-if="$store.state.sesion.autenticado" >
    <v-card>
      <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
        <menuDrawel ></menuDrawel>
      </v-navigation-drawer>

    </v-card>

    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app style="border_top:15px;" >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <div class="d-flex align-center">
        <v-img alt="TotalPlay" class="shrink mr-2" contain min-width="50%" :src=getLogoTotalPlay transition="scale-transition" width="50%"/>
      </div>
      <v-spacer />
    
      
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn x-large class="ma-2" elevation="0" v-on="on">
            <v-avatar size="40px" class="mx-1">
                <img src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png" alt="">
              </v-avatar>
            <span class="hidden-sm-and-down" style="color:#1976d2;">{{$store.state.sesion.usuario}}</span>
          </v-btn>
        </template>

        <v-list >
          <v-list-item>
            
            <v-btn text @click="salir">Cerrar sesión</v-btn>
          </v-list-item>
          <v-list-item>
            
            <v-btn text >Release 1.0.0.1.4</v-btn>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-content style="background-color:#e4e6e8">
      <v-container fluid >
        <router-view></router-view>
      </v-container>
    </v-content>

   </template>
   <template v-else>
      <landing></landing>
   </template>
   
  </v-app>
</template>

<script>
  import menuDrawel from '@/components/MenuDrawel.vue';
  import tabsTotal from '@/components/TabsTotal.vue';
  import landing from '@/views/Landing.vue';
  import operations from '../src/operations';
  import servidor from '../src/config'

  export default {
    components:{
      menuDrawel,
      tabsTotal,landing
    },
    props: {
      source: String,
    },
    data: () => ({
      dialog: false,
      drawer: null,
      notifications: [
      'Mike, John responded to your email',
      'You have 5 new tasks',
      'You\'re now a friend with Andrew',
      'Another Notification',
      'Another One'
    ],
      itemslog: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      items2: [
          {
            action: 'local_activity',
            title: 'Attractions',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'restaurant',
            title: 'Dining',
            active: true,
            items: [
              { title: 'Breakfast & brunch' },
              { title: 'New American' },
              { title: 'Sushi' },
            ],
          },
          {
            action: 'school',
            title: 'Education',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'directions_run',
            title: 'Family',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'healing',
            title: 'Health',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'content_cut',
            title: 'Office',
            items: [
              { title: 'List Item' },
            ],
          },
          {
            action: 'local_offer',
            title: 'Promotions',
            items: [
              { title: 'List Item' },
            ],
          },
        ],
    }),
    methods:{
      salir(){
        this.bitacora("Saliendo correctamente del portal de PDR");
        //console.log("Saliendo correctamente del portal de PDR");
        this.$store.state.sesion.autenticado=false;
        this.$store.state.sesion.usuario='';
        this.$store.state.sesion.pwd='';
       },
      handler: function handler(event) {
       // alert("Saliendo");
        this.bitacora("Saliendo incorrectamente del portal de PDR");
       // console.log("Saliendo incorrectamente del portal de PDR");
        this.$store.state.sesion.autenticado=false;
        this.$store.state.sesion.usuario='';
        this.$store.state.sesion.pwd='';
       },
      async bitacora(evento){
    
        try{
              const response = await operations.userLog({ funcionality:evento,username:this.$store.state.sesion.usuario});
             // console.log(response);
              if(response.status == "200"){
                  if(response.data.status=='C'){
                      console.log("registrado en bitacora ok");
                  }else{
                    console.log("error al insertar en bitacora");
                  }
              }
          }catch(error){
              console.log(error);
              console.log("error al insertar en bitacora");
              return;
          }
       },
    },
    computed:{
      getLogoTotalPlay(){
        return "/total_play_logo.png";
      }
    },
    created() {
    window.addEventListener('unload', (event) => {
     
     
        
        // Cancel the event as stated by the standard.
        event.preventDefault();
        // Chrome requires returnValue to be set.
        //event.returnValue = '';

         this.bitacora("Saliendo incorrectamente del portal de PDR");
      });
  },
  }
</script>
<style scoped>
 body{
   zoom:80;
 }
</style>